.ui.form {
  .field {
    position: relative;
    margin-bottom: 1.4em;

    .ui.pointing.label {
      position: absolute;
      top: calc(100% - 4px);
      left: 0;
      z-index: 1;
      margin-left: 0;
    }
  }
}

.ui.segment.bottom.attached {
    h2:first-child {
        margin: 24px 0;
    }
}

.ui.placeholder.placeholderLine {
  width: 100%;
  max-width: 100%;

  .line {
    height: 12px;
    margin-bottom: 48px;
  }
}
